<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
  <div th:fragment="header">
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
          <div class="container-fluid">
              <a class="navbar-brand" th:href="@{/}">City Feedback</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                          <a class="nav-link active" aria-current="page" th:href="@{/}">Startseite</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" th:href="@{/complaint}">Beschwerden</a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Über Berlin
                          </a>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Sehenswürdigkeiten</a></li>
                              <li><a class="dropdown-item" href="#">Top Restaurants</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Hotels</a></li>
                          </ul>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" th:href="@{/sign-in}">Anmelden</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link disabled">Disabled</a>
                      </li>
                  </ul>
                  <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Suchen..." aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Suche</button>
                  </form>
              </div>
          </div>
      </nav>
  </div>
</body>
</html>