<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">CityFeedback</title>
</head>
<body>
    <section layout:fragment="content">
        <div>
            <h1>Welcome to the Home Page</h1>
            <p>This is the main content of the home page.</p>>
            <h2 class="test-class">Learn Spring Boot Thymeleaf like us</h2>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-text">First and last name</span>
                <input type="text" aria-label="First name" class="form-control">
                <input type="text" aria-label="Last name" class="form-control">
            </div>
            <div>
                <h3>Links</h3>
                <a th:href="@{/complaint}">Alle Beschwerden</a><br>
                <a th:href="@{/sign-in}">Anmelden</a><br>
                <a th:href="@{/sign-up}">Registrieren</a><br>
            </div>
        </div>
    </section>
</body>
</html>